@import url('https://fonts.googleapis.com/css2?family=Bungee+Outline&display=swap');
.App{
  height: 100vh;
  background-color: rgb(38, 122, 122);
}
.Header{
  border-bottom: 2px solid rgb(34, 176, 178);
  width: 40%;
  margin: auto;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.leftHeader{
  display: flex;
  align-items: center;
}
.Header .leftHeader a{
  text-decoration: none;
}
.Header .leftHeader a h1{
  font-family: 'Tilt Neon', cursive;
  font-size: 1.9rem;
  color: palegreen;
  caret-color: transparent;
}
.rightHeader button{
  border: none;
  background-color: rgb(94, 161, 161);
  padding: 10px;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  font-weight: bolder
}
.rightHeader button:active{
  transform: translate(0,10%);
}

.MainBox,.About{
  background-color: rgb(94, 161, 161);
  width: 35%;
  margin: auto;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 15px;
  /* height: 450px; */
  border-radius: 5px
}
.About h1{
  text-align: center;
  font-family: 'Tilt Neon', cursive;
  color: darkgoldenrod;
}
.About p{
  width: 80%;
  margin: auto;
  padding-bottom: 25px;
  font-size: 1.3rem;
  color: darkblue;
}
.PrathamSaxena a{
  color: red;
  text-decoration: none;
}
.PrathamSaxena a:hover{
  color: azure;
}
.MainBox h1{
  text-align: center;
  color: palegreen;
}
.MainBox h3{
  /* border: 2px solid red; */
  width: 70%;
  margin: auto;
  text-align: center;
  font-weight: lighter;
  font-size: 24px;
  color: darkmagenta;
}
.MainBox h5{
  width: 100%;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 20px;
  text-align: center;
}
.buttonMainBox{
  width: 50%;
  margin: auto;
  /* border: 2px solid red; */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-bottom: 15px;
  margin-top: 5px;
}
.buttonMainBox button{
  background-color: rgb(154, 215, 215);
  border: none;
  padding: 8px;
  padding-left: 25px;
  padding-right: 25px;
  font-size: 15px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bolder;
  color: white;
}
.buttonMainBox button:active{
  transform: translate(0,10%);
}
.Footer{
  border-top: 2px solid rgb(34, 176, 178);
  width: 40%;
  margin: auto;
  margin-top: 20px;
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
  caret-color: transparent;
  color: aliceblue;
}
@media screen and (max-width: 480px) {
  .Header{
    width: 80%;
  }
  .Header .leftHeader a h1{
    font-size: 1.3rem;
  }
  .rightHeader button{
    padding: 5.8px;
  }
  .MainBox,.About{
    width: 75%;
  }
  .MainBox h1{
    font-size: 1.5rem;
  }
  .MainBox h3{
    width: 95%;
    font-size: 20px;
  }
  .buttonMainBox{
    width: 100%;
  }
  .buttonMainBox button{
    padding: 6px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .About h1{
    font-size: 1.4rem;
    padding-top: 10px;
  }
  .About p{
    font-size: 1rem;
  }
  .Footer{
    width: 80%;
    padding: 0;
    font-size: .5rem;
  }
}
@media screen and (max-width: 768px) {
  .Header{
    width: 70%;
  }
  .Header .leftHeader a h1{
    font-size: 1.3rem;
  }
  .rightHeader button{
    padding: 5.8px;
  }
  .MainBox,.About{
    width: 60%;
  }
  .MainBox h1{
    font-size: 1.5rem;
  }
  .MainBox h3{
    width: 95%;
    font-size: 20px;
  }
  .buttonMainBox{
    width: 100%;
  }
  .buttonMainBox button{
    padding: 6px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .About h1{
    font-size: 1.4rem;
    padding-top: 10px;
  }
  .About p{
    font-size: 1rem;
  }
  .Footer{
    width: 70%;
    padding-left: 15px;
    padding-right: 15px;
    font-size: .5rem;
  }
}
@media screen and (max-width: 1023px) {
  .Header{
    width: 60%;
  }
  .Header .leftHeader a h1{
    font-size: 1.3rem;
  }
  .rightHeader button{
    padding: 5.8px;
  }
  .MainBox,.About{
    width: 50%;
  }
  .MainBox h1{
    font-size: 1.5rem;
  }
  .MainBox h3{
    width: 95%;
    font-size: 20px;
  }
  .buttonMainBox{
    width: 100%;
  }
  .buttonMainBox button{
    padding: 6px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .About h1{
    font-size: 1.4rem;
    padding-top: 10px;
  }
  .About p{
    font-size: 1rem;
  }
  .Footer{
    width: 60%;
    
  }
}