@import url('https://fonts.googleapis.com/css2?family=Bungee+Outline&display=swap');
.App{
  height: 100vh;
  background-color: rgb(38, 122, 122);
}
.Header{
  border-bottom: 2px solid rgb(34, 176, 178);
  width: 40%;
  margin: auto;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.leftHeader{
  display: flex;
  align-items: center;
  /* flex-direction: row-reverse; */
}
.Header .leftHeader a{
  text-decoration: none;
}
.Header .leftHeader a h1{
  font-family: 'Tilt Neon', cursive;
  font-size: 1.9rem;
  color: palegreen;
  caret-color: transparent;
}
.rightHeader button{
  border: none;
  background-color: rgb(94, 161, 161);
  padding: 10px;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  font-weight: bolder
}
.rightHeader button:active{
  transform: translate(0,10%);
}
.MainBox{
  background-color: rgb(94, 161, 161);
  width: 35%;
  margin: auto;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 15px;
  /* height: 450px; */
  border-radius: 5px
}
.MainBox h1{
  text-align: center;
  color: palegreen;
}
.MainBox h3{
  /* border: 2px solid red; */
  width: 70%;
  margin: auto;
  text-align: center;
  font-weight: lighter;
  font-size: 24px;
  color: darkmagenta;
}
.MainBox h5{
  width: 70%;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 20px;
  text-align: center;
}
.buttonMainBox{
  width: 50%;
  margin: auto;
  /* border: 2px solid red; */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-bottom: 15px;
  margin-top: 5px;
}
.buttonMainBox button{
  background-color: rgb(154, 215, 215);
  border: none;
  padding: 8px;
  padding-left: 25px;
  padding-right: 25px;
  font-size: 15px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bolder;
  color: white;
}
.buttonMainBox button:active{
  transform: translate(0,10%);
}
.Footer{
  border-top: 2px solid rgb(34, 176, 178);
  width: 40%;
  margin: auto;
  margin-top: 20px;
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
  caret-color: transparent;
  color: aliceblue;
}